/*Vista Edit y crear*/
#formulario {
    background-color: gray;
    color: white;
    padding: 23px;
    margin-left: 10%;
    margin-top: 40px;
    width: 50%;
    border-radius: 30px;
}
#btn {
    background-color: #67b346;
    margin-left: 70%;
}

/*Boton crear*/
#btncrear {
    background-color: #67b346;
    margin-left: 77%;
}
