
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    body{
       background-size: cover;
       background-repeat: no-repeat;
       margin: 0;
       height: 100vh;

        
    }
    h3{
        color: white;
        text-align: center;
    }
    h4{
        color:black;
        text-align: center;
    }
    .navbar .nav-item .nav-link {
        color: black;
      }

    /*Capa de la imagen de fondo*/
    .capa{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.6);
        z-index: -1;
        top: 0;left: 0;
    }
    #contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 0;
        min-width: 100vw;
        min-height: 100vh;
        width: 100%;
        height: 23px;
    }
    .card-login2{
        margin-top:3%;
        padding: 12px;
    }

  .nav-link{
      color: #fc7323;;
  }
    #container{
        margin-top:5%;

    }
 .card-body{
    background-color:#8f8f8f;
    
  }
    .formulario{
        margin-top: 3%;
     
    }
    /*Estilos Logos*/
    #logo{
        width: 27%;
        height: 27%;
    }
/*estilo boton de ingreso*/
    .button{
        font-family: 'Overpass', sans-serif;
        font-size: 110%;
        color:#bbe1fa;
        width: 100%;
        height: 40px;
        border: none; 
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        background-color: #fc7323;  
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
    }
    .button:hover{
        background: #67B346;
        color:white;
    }
    /*Iconos y span*/ 
   #i{
        color:white;
     }
     .input-group-text{
        background-color:#fc7323;
    }

/*Label Documento y Contraseña*/
    .label{
        color: white;
    }

/*Pie de Página*/
    footer{
        background-color:#fc7323 ;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px;
        
    }

