/*Vista show*/

.detalles {
    margin-top: 10%;
    margin-left: 33%;
    background-color: white;
    padding: 20px;
    width: 40%;
    text-align: center;
    border-radius: 30px;
}
.titulo {
    background-color: #fc7323;
    padding: 10px;
    text-align: center;
    color: white;
}
.contenido {
    margin-top: 20px;
}
.botones {
    margin-top: 20px;
}
